{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sentinel | 500 Error</title>

  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="gray-bg">
  <div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">{% trans "Internal Server Error" %}</h3>

    <div class="error-desc">
      {% trans "The server encountered something unexpected that didn't allow it to complete the request. We apologize." %}<br/>
      {% trans "You can go back to main page:" %} <br/><a href="/" class="btn btn-primary m-t">{% trans "Dashboard" %}</a>
    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
